body{
    margin: 0%;
    padding: 0;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Lato', sans-serif;
    position: relative;
    box-sizing: border-box;
}
*{
    margin: 0%; 
    letter-spacing: 0.5px;
}
@media(max-width:930px){
    html,body{
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }
}
nav{
    height: 40px;
    width: 100%;
    line-height: 40px;
    position: fixed;
    top: 0%;
    background-color: rgb(0, 0, 0,0.9);
    align-items: center;
    
}
nav ul{
    text-align: center;
    z-index: 1;
}
nav ul li{
   
    display: inline;
    list-style: none;
    
}
hr{
    display: none;
}
nav ul li a{
    font-size: 13px;
    text-decoration: none;
    padding: 25px;
    color:rgb(165, 165, 165) ;
}
nav ul li a:hover{
    color:white;
}
#check{
    display: none;
}
.checkbtn{
    font-size: 25px;
    line-height: 15px;
    color:rgb(165, 165, 165) ;
    display: none;
}
#checks{
    display: none;
}
.logo a i{
    font-size: 20px;
}

#logo  {
    display: none;
}
#cancel{
    display: none;
}

@media(max-width:1200px){
    nav ul li a{ 
        padding:17px ;
    }  
}
@media(max-width:985px){
    nav ul li a{
        font-size:10;
        padding:9px ;
    }  
}
@media(max-width:867px){
    
    hr{
        display: block ;
        margin-right: 60px;
        font-weight: 100;   
    }
    nav{
        background-color: black;
       
    }
    .checkbtn{
        display: inline-block;
        margin: 10px 23px;
        color: white;
        
    }
    nav ul {
        position: fixed;
        background-color: black;
        top: -100%;   
        text-align:start;
        width: 100%;
        margin-right: 20px;
        transition: all  0.5s;
        transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
        
    }
    nav ul li {
        display: block;
        margin: 15px 0 ;
        line-height: 20px;
    }
    nav u li a{
        color: white;
        padding: 0px 0px;
        font-size: 20px;
    }
    
    .logo{
        display: none;
    }
    #logo  {
        display: block;
        margin-top: -45px;
        text-align: center;
        font-size: 20px;
        text-align: center;
        color: white;
        
    }
     #logo  a i{
        font-size: 20px;
        text-align: center;
    }
    #logo a{
        text-decoration: none;
        color:rgb(165, 165, 165) ;
        text-align: center;
       
    }
    #logo a:hover{
        color: white;
    }
    .search{
        display: none;
    }
    #check:checked~ul{
        top: 5%;
    }
    
}


.main{
    margin-top: 100px;
    background-color: white;
    text-align: center;
    width: 100%;

}
.herophone{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#main1{
    width: 350px;
    overflow: hidden;
    
}
#main2{
    width: 350px;
    overflow: hidden;
}
#name{
    font-size: 75px;
}
.brand{
    font-size: 25px;
    padding-top: 20px;
    font-weight: lighter;
}

.link-flex{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    justify-content: center;
    padding: 15px;

}
.link {
    text-decoration: none;
    color: blue;
    font-size:18px;
}
.link a:hover{
   text-decoration: underline;
}

@media(max-width:968px){
    
    #name{
        font-size: 65px;
    }
    .brand{
        font-size: 22px;
        padding-top: 20px;
        font-weight: lighter;
    }
    #main1,#main2{
        width: 280px;
        

    }
   
    .link {
        font-size: 18px;
    }
}
@media (max-width:789px) {
    #main1{
        width: 200px;
    }
    #main2{
  
        width: 200px;
    }
    #name{
        font-size: 60px;
    }
    .link a{
        font-size: 14px;
    }
}
@media(max-width:600px){
    
    #main1{ 
        width:180px ;
    }
    #main2{
        width: 180px;
    }
    #name{
        font-size: 55px;
    }
    .link a{
        font-size: 10px;
    } 
}
   
.section2,.section4i,.section4ii{
    background-color: black;
    background-size: cover;
    text-align: center;
    padding: 0 0 1.5rem 0;
    
}
#iphone14pro{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 700px;
}
#iphone{
    padding-top: 60px;
    font-size: 75px;
    color: white;
}

.type{
    padding-top: 20px;
    font-size: 25px;
    margin-top: 0px;
    font-weight: lighter;
    color: white;
}
@media(max-width:986px){
    #iphone14pro{
        width: 600px;
    }
    #iphone{
        font-size: 70px;
    }
}
@media(max-width:789px){
   
    #iphone14pro{
        width: 500px;
    }
    #iphone{
        font-size: 65px;
    }
}
@media(max-width:600px){
    #iphone14pro{
        width: 400px;
    }
    #iphone{
        font-size: 55px;
    }
   
}
@media(max-width:460px){
   
    #iphone{
        font-size: 40px;
}
}
.section3{
    background-color: white;
    text-align: center;
    margin-top: 60px;
}
#namewatch{
    font-size: 40px;

}
.special{
    color: orangered;
    padding: 15px;
}
#brandspecial{
    font-size: 25px;
}
#watch{
    width: 900px;
}
@media(max-width:986px){
    #namewatch{
        font-size: 35px;
    
    }
    .special{
        color: orangered;
        padding: 12px;
    }
    #brandspecial{
        font-size: 20px;
    }
    #watch{
        width: 700px;
    }
}
@media(max-width:786px){
    #namewatch{
        font-size: 30px;
    
    }
    .special{
        color: orangered;
        padding: 10px;
    }
    #brandspecial{
        font-size: 15px;
    }
    #watch{
        width: 500px;
    }
}
@media(max-width:600px){
    #watch{
        width: 370px;
    }
}

.section4{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
#watch2,#Airpod{
    width: 400px;
    padding: 0px 130px;
}
#Airpods,#watchname{
    margin-top: 45px;
    color: white;
    font-size: 30px;
}
.spectype{
    color: orangered;
    font-size: 13px;
    margin-top: 7px;
}
#brandspec,#brandpods{
    color: white;
    font-size: 20px;
    margin-top: 10px;
}
/* @media(max-width:1200px){
    #watch2,#Airpod{
        width: 350px;
        padding: 0px 50px;
    }   
} */
@media(max-width:986px){
    #Airpods,#watchname{
        font-size: 40px;
    } 
    #brandspec,#brandpods{
        font-size: 18px;
    }
    #watch2,#Airpod{
        width: 350px;
        padding: 0px 55px;
    }  
}
@media(max-width:760px){
    .section4{
        display: block;
        margin-top: 0px;
    }
    #Airpods,#watchname{
        font-size: 30px;
        padding-top: 25px;
        margin-top: 15px;
    } 
    #brandspec,#brandpods{
        font-size: 13px;
    }
    #watch2,#Airpod{
        width: 250px;
        padding: 20px 30px;
    }  
}
@media(max-width:600px){
    .section4{
        display: block;
        margin-top: 0px;
    }
    #Airpods,#watchname{
        font-size: 35px;
    } 
    #brandspec,#brandpods{
        font-size: 20px;
    }
    #watch2,#Airpod{
        width: 250px;
        padding: 0px 20px;
    }  
}
#base{
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

td,th{
    padding: 8px 100px;
    text-align: left;
    font-size: 13px;
    color:rgb(100, 99, 99);
}
td:hover{
    text-decoration: underline;
}
th{
    color: rgb(71, 71, 71);
}
.base-text a{
    text-decoration: none;
    color: blue;
}
.base-text{
    color:rgb(100, 99, 99); 
    font-size: 13px;
    padding: 10px 100px;
    
}
.dropdown-list{
    display: none;
}
#base-line{
    display: block;
    margin-right: 100px;
    margin-left: 100px;
}
@media(max-width:967px){
    td,th{
        padding: 8px 70px;
    }
}
@media(max-width:769px){
    td,th{
        padding: 8px 50px;
    }
}

.dropdown{
    padding: 1rem ;
    border-bottom: 0.5px solid rgba(87, 83, 83,0.5);
    width: 300px;
}
.list-items{
    margin-left: 2rem;
    animation: myAnim 1s ease 0s 1 normal forwards;

}
.list-items p{
    padding: 0.5rem;
}
.dropdown:hover.list-items{
    border: 2px solid skyblue;

}
@keyframes myAnim {
	0% {
		transform: translateY(-30px);
	}

	100% {
		transform: translateY(0px);
	}
}
@media(max-width:600px){
    table{
        display: none;
    }
    .dropdown-list{
        display: block;
    }
    footer{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        padding: 1rem 0;
    }
    #base-line{
        margin: 0;
        
    }
    .base-text{
        padding: 0;
    }
}



